In [2]:
# import libraries
import pandas as pd
import os

In [10]:
# load in csvs / create data frame 
jan_df = pd.read_csv("../Tableau_hw/resources/JC-202301-citibike-tripdata.csv")
feb_df = pd.read_csv("../Tableau_hw/resources/JC-202302-citibike-tripdata.csv")
march_df = pd.read_csv("../Tableau_hw/resources/JC-202303-citibike-tripdata.csv")

In [11]:
len(jan_df["ride_id"])

56075

In [12]:
len(feb_df["ride_id"])

51213

In [13]:
len(march_df["ride_id"])

63072

In [17]:
# merge together 
jan_feb_march_df = pd.concat([jan_df, feb_df, march_df])
jan_feb_march_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,0905B18B365C9D20,classic_bike,2023-01-28 09:18:10,2023-01-28 09:28:52,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Hamilton Park,JC009,40.735938,-74.030305,40.727596,-74.044247,member
1,B4F0562B05CB5404,electric_bike,2023-01-23 20:10:12,2023-01-23 20:18:27,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Southwest Park - Jackson St & Observer Hwy,HB401,40.735938,-74.030305,40.737551,-74.041664,member
2,5ABF032895F5D87E,classic_bike,2023-01-29 15:27:04,2023-01-29 15:32:38,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Marshall St & 2 St,HB408,40.735944,-74.030383,40.740802,-74.042521,member
3,E7E1F9C53976D2F9,classic_bike,2023-01-24 18:35:08,2023-01-24 18:42:13,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Hamilton Park,JC009,40.735986,-74.030364,40.727596,-74.044247,member
4,323165780CA0734B,classic_bike,2023-01-21 20:44:09,2023-01-21 20:48:08,Hamilton Park,JC009,Manila & 1st,JC082,40.727596,-74.044247,40.721651,-74.042884,member

In [18]:
len(jan_feb_march_df["ride_id"])

170360

In [21]:
for x in jan_feb_march_df.columns:
    print(x)

ride_id
rideable_type
started_at
ended_at
start_station_name
start_station_id
end_station_name
end_station_id
start_lat
start_lng
end_lat
end_lng
member_casual

In [26]:
# export csv
jan_feb_march_df.to_csv("../Tableau_hw/jan_feb_march2023.csv", index=False, header=True, encoding='utf-8-sig')